<div class="container">
    <div class="row">
        <div class="col">
            ジャンル検索
        </div>
        <div class="col">
            <h3>商品一覧</h3>
            <!--<3% @products.each do |product| %>-->
            <!--    <#%= attachment_image_tag product, :image, :fill, 100, 100, fallback:"no_image.png" %>-->
            <!--    <#%= product.name %>-->
            <!--    <#%= product.price %>-->
            <!--<##% end %>-->
        </div>
    </div>
</div>

