<div class="container">
    <div class="row">
         <h3 class="midashi">ã‚¸ãƒ£ãƒ³ãƒ«ç·¨é›†</h3>
    </div>
   
    <%= form_with model: @genre, url: admin_genre_path, local: true do |f| %>
        <h4><%= f.label :name, "ã‚¸ãƒ£ãƒ³ãƒ«å" %>ðŸŽ‰</h4>
        <%= f.text_field :name %>
    <%= f.submit "å¤‰æ›´ã‚’ä¿å­˜",class: "btn btn-success" %>
    <% end %>
</div>
<style>
    h4{
        letter-spacing:5px;
        color:yellow;
        text-shadow: 2px 3px 4px silver;
    }
    body{
        background-color:#753;
    }
    .midashi {
        margin-top: 40px;
        margin-bottom: 50px;
        padding: 15px;
        background-color:  background: -webkit-gradient(linear, left top, left bottom, from(#422814), to(gray));
        background: linear-gradient(#422814, gray);;
        color: white;
        opacity:0.7;
        
    }
    .midashi:hover {
         background: -webkit-gradient(linear, left top, left bottom, from(purple), to(#bc8f8f));
        background: linear-gradient(purple, black);
      }
    
</style>